*{
   margin: 0; 
   padding:0;
   box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: gray;
    height: 2000px;

}
.container{
    width: 95%;
    background-color: white;
    padding-left: 10px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    height: 1650px;
    display: grid;
}
table{
    border: 10px;
}
tr,td{
    border: 100px;
    
}


    
